.gradle
.idea/
.settings
.classpath
build/
test-output/
bin/
screenshots/
/logs/
/report/
out/
*.jar
files/nome_cenario.csv

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/